<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="integration.config" type="TFSideKicks.Configuration.IntegrationSection, TFSideKicks" />
  </configSections>
  <integration.config>
    <teamprojects>
      <teamproject version-name="省医" tfs-url="http://172.18.128.166:8080/medicalhealthsy" />
      <teamproject version-name="中山眼科" tfs-url="http://svrdevelop:8080/tfs/medicalhealth" />
      <teamproject version-name="市一" tfs-url="http://172.18.128.166:8080/medicalhealths1" />
    </teamprojects>
  </integration.config>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
