<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="TaskJob" value="E:\VSTS\MedicalHealth" />
    <add key="TaskJobA" value="E:\MedicalHealthSY" />
    <add key="TaskJobB" value="E:\MedicalHealthBasicRC" />
    <add key="TaskJobC" value="E:\MedicalHealthGH" />
    <add key="TaskJobD" value="E:\MedicalHealthS1" />
    <add key="TaskJobE" value="E:\MedicalHealthSGS1" />
  </appSettings>
</configuration>
